{
margin: 0 auto;
}
#container {
    position: absolute;
    top: 50%;
    left: 40%;

}
#container-body{
    margin-left: auto;
    margin-right: auto;
}
.text-danger {
    text-align: center;
    color: darkred;
    font: 200% serif;
}