<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>Google/Twitter authorisation</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<body>
<div id="container">
    {% block body %}
    <div id="container-body">

        <span id="signinButton">
            <span
                    class="g-signin"
                    data-callback="signinCallback"
                    data-clientid="{{ GOOGLE_CLIENT_ID }}"
                    data-cookiepolicy="single_host_origin"
                    data-requestvisibleactions="http://schemas.google.com/AddActivity"
                    data-scope="https://www.googleapis.com/auth/userinfo.email"
                    data-height="standard"
                    >
            </span>
       </span>

        <form method="POST" action="{{url_for('ttr_auth', state=STATE)}}">
            <button id="ttr_auth"><img id="img_ttr_auth"
                                       src="{{url_for('static',filename='img/sign-in-with-twitter-gray.png')}}"/>
            </button>
        </form>

    </div>
    {% endblock %}
</div>
{% block script %}
<script>
    function google_log() {
        $.ajax({
            url: '/google_log?state={{STATE}}',
            contentType: 'application/octet-stream;encoding-utf8',
            processData: false,
            data: '.',
            method: 'POST',
            async: false
        })
    }

    function signinCallback(authResult) {
        if (authResult) {
            if (authResult['error'] == undefined) {
                gapi.auth.setToken(authResult);
                getEmail();
            } else if (authResult['error'] == 'access_denied') {
                google_log();
            }
        }
    }
    function getEmail() {
        gapi.client.load('oauth2', 'v2', function () {
            var request = gapi.client.oauth2.userinfo.get();
            request.execute(getEmailCallback);
        });
    }

    function getEmailCallback(obj) {

        if (obj['email'] && obj['verified_email']) {
            $.ajax({
                url: '/google_auth?state={{STATE}}',
                contentType: 'application/octet-stream;encoding-utf8',
                processData: false,
                data: obj['email'],
                method: 'POST',
                success: function (result) {
                    json_result = JSON.parse(result);
                    if (json_result["user_hash"]) {
                        window.location.href = '/authorise?hash=' + json_result['user_hash']
                        check_authorisation = true;
                    } else {
                        window.location.href = '/error'
                    }
                }
            })
        }

    }
</script>
{% endblock %}
</body>
</html>